@model coderush.Models.ApplicationUser
@inject coderush.Data.ApplicationDbContext Context

@{
    UserProfile profile = Context.UserProfile.SingleOrDefault(x => x.ApplicationUserId.Equals(Model.Id));
}
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="@profile.ProfilePicture" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>@profile.FirstName @profile.LastName</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">

            <li class="header">Prueba Colegio</li>

            <li class="@Html.IsSelected(controller: MainMenu.Grado.ControllerName, action: MainMenu.Grado.ActionName)">
                <a href="@MainMenu.Grado.Path">
                    <i class="fa fa-users"></i> <span>@MainMenu.Grado.PageName</span>
                </a>
            </li>
            <li class="@Html.IsSelected(controller: MainMenu.Nota.ControllerName, action: MainMenu.Nota.ActionName)">
                <a href="@MainMenu.Nota.Path">
                    <i class="fa fa-users"></i> <span>@MainMenu.Nota.PageName</span>
                </a>
            </li>
            <li class="@Html.IsSelected(controller: MainMenu.Alumno.ControllerName, action: MainMenu.Alumno.ActionName)">
                <a href="@MainMenu.Alumno.Path">
                    <i class="fa fa-users"></i> <span>@MainMenu.Alumno.PageName</span>
                </a>
            </li>


            <li class="@Html.IsSelected(controller: MainMenu.Consulta.ControllerName, action: MainMenu.Consulta.ActionName)">
                <a href="@MainMenu.Consulta.Path">
                    <i class="fa fa-users"></i> <span>@MainMenu.Consulta.PageName</span>
                </a>
            </li>
            
            <li class="@Html.IsSelected(controller: MainMenu.Services.ControllerName, action: MainMenu.Services.ActionName)">
                <a href="@MainMenu.Services.Path">
                    <i class="fa fa-users"></i> <span>@MainMenu.Services.PageName</span>
                </a>
            </li>
            <li class="@Html.IsSelected(controller: MainMenu.Grafico.ControllerName, action: MainMenu.Grafico.ActionName)">
                <a href="@MainMenu.Grafico.Path">
                    <i class="fa fa-users"></i> <span>@MainMenu.Grafico.PageName</span>
                </a>
            </li>
           

            <li class="header">Prueba DOS</li>
            <li class="@Html.IsSelected(controller: MainMenu.Triki.ControllerName, action: MainMenu.Triki.ActionName)">
                <a href="@MainMenu.Triki.Path">
                    <i class="fa fa-users"></i> <span>@MainMenu.Triki.PageName</span>
                </a>
            </li>

            <li class="header">USUARIO & ROLES</li>
            <li class="@Html.IsSelected(controller: MainMenu.User.ControllerName, action: MainMenu.User.ActionName)">
                <a href="@MainMenu.User.Path">
                    <i class="fa fa-users"></i> <span>@MainMenu.User.PageName</span>
                </a>
            </li>
            <li class="@Html.IsSelected(controller: MainMenu.ChangePassword.ControllerName, action: MainMenu.ChangePassword.ActionName)">
                <a href="@MainMenu.ChangePassword.Path">
                    <i class="fa fa-key"></i> <span>@MainMenu.ChangePassword.PageName</span>
                </a>
            </li>
            <li class="@Html.IsSelected(controller: MainMenu.Role.ControllerName, action: MainMenu.Role.ActionName)">
                <a href="@MainMenu.Role.Path">
                    <i class="fa fa-gear"></i> <span>@MainMenu.Role.PageName</span>
                </a>
            </li>
            <li class="@Html.IsSelected(controller: MainMenu.ChangeRole.ControllerName, action: MainMenu.ChangeRole.ActionName)">
                <a href="@MainMenu.ChangeRole.Path">
                    <i class="fa fa-gear"></i> <span>@MainMenu.ChangeRole.PageName</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>